<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siyo_pc.medme_trial"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Medmetheme" >
        <activity
            android:name=".Start"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuestHome"
            android:configChanges="orientation"
            android:label="@string/title_activity_guest_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GuestSickness"
            android:configChanges="orientation"
            android:label="@string/title_activity_guest_sickness"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GuestSicknessView"
            android:label="@string/title_activity_guest_sickness_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GuestDisease"
            android:label="@string/title_activity_guest_disease" >
        </activity>
        <activity
            android:name=".GuestDiseaseView"
            android:label="@string/title_activity_guest_disease_view" >
        </activity>
        <activity
            android:name=".GuestSymptom"
            android:label="@string/title_activity_guest_symptom" >
        </activity>
        <activity
            android:name=".GuestSymptomView"
            android:label="@string/title_activity_guest_symptom_view" >
        </activity>
        <activity
            android:name=".AdminHome"
            android:label="@string/title_activity_admin_home" >
        </activity>
        <activity
            android:name=".AdminDiseasesHome"
            android:label="@string/title_activity_admin_diseases_home" >
        </activity>
        <activity
            android:name=".AdminDiseasesViewAll"
            android:label="@string/title_activity_admin_diseases_view_all" >
        </activity>
        <activity
            android:name=".AdminDiseasesAdd"
            android:label="@string/title_activity_admin_diseases_add" >
        </activity>
        <activity
            android:name=".AdminDiseasesUpdate"
            android:label="@string/title_activity_admin_diseases_update" >
        </activity>
        <activity
            android:name=".AdminSymptomsAdd"
            android:label="@string/title_activity_admin_symptoms_add" >
        </activity>
        <activity
            android:name=".AdminSymptomsHome"
            android:label="@string/title_activity_admin_symptoms_home" >
        </activity>
        <activity
            android:name=".AdminSymptomsUpdate"
            android:label="@string/title_activity_admin_symptoms_update" >
        </activity>
        <activity
            android:name=".AdminSymptomsViewAll"
            android:label="@string/title_activity_admin_symptoms_view_all" >
        </activity>
        <activity
            android:name=".AdminSicknessesAdd"
            android:label="@string/title_activity_admin_sicknesses_add" >
        </activity>
        <activity
            android:name=".AdminSicknessesUpdate"
            android:label="@string/title_activity_admin_sicknesses_update" >
        </activity>
        <activity
            android:name=".AdminSicknessesViewAll"
            android:label="@string/title_activity_admin_sicknesses_view_all" >
        </activity>
        <activity
            android:name=".AdminSicknessesHome"
            android:label="@string/title_activity_admin_sicknesses_home" >
        </activity>
        <activity
            android:name=".AdminSicknessSymptomSelect"
            android:label="@string/title_activity_admin_sickness_symptom_select" >
        </activity>
        <activity
            android:name=".RegisterUser"
            android:label="@string/title_activity_register_user" >
        </activity>
        <activity
            android:name=".LogIn"
            android:label="@string/title_activity_log_in" >
        </activity>
    </application>

</manifest>
